#board-container {
    text-align: center;
    width: 80%;
}
.board_list {
    width: 100%;
    border-collapse: collapse;
    margin: 0 auto;
}
.board_list th, .board_list td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}
.board_list th {
    background-color: #f2f2f2;
}
.board_list tr:nth-child(even) {
    background-color: #f9f9f9;
}
.board_list th, .board_list td {
    text-align: center;
}
