#boardJoin_container{
    width: 1280px;
    margin: 0 auto;
    border:  1px solid black;
    height: 600px;
}
#board_join{
    width: 100%;
    text-align: center;
}
#title_tr{
    padding-bottom: 20px;
}
#boardJon_input {
    width: 300px;
    text-align: center;
}
.input_type.img {
    width: 10px;
    height: 10px;
    border-radius: 50%; /* 동그라미를 만들기 위한 속성 */
    border: none;
    background-color: #808080;
    cursor: pointer;
}
#title_td{
  border: 1px solid black;
  width: 400px;
  height: 25px;
}
.boardJoin_td{
    text-align: center;
    align-items: center;
}
.boardJoin_submit{
    text-align: center;
    padding: 10px;
}
#boardJoin_title{
    margin-bottom: 5px;
}