<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="kr">
<head th:replace="~{fragments/head :: head}"/>
<meta charset="UTF-8">
<body>
<div th:replace="~{fragments/header :: header}"></div>
<form action="/members/join" method="POST" class="joinForm">

    <h2>회원가입</h2>
    <div class="textForm">
        <input name="loginId" type="text" class="id" placeholder="아이디(6~20)입력">

    </div>
    <div class="textForm">
        <input name="pw" type="password" class="pw" placeholder="비밀번호">
    </div>
    <div class="textForm">
        <input name="loginPwConfirm" type="password" class="pw" placeholder="비밀번호 확인">
    </div>
    <div class="textForm">
        <input name="name" type="text" class="name" placeholder="이름">
    </div>
    <div class="textForm">
        <input name="nickname" type="text" class="name" placeholder="닉네임을 입력하세요">
    </div>
    <div class="textForm">
        <input name="email" type="text" class="email" placeholder="이메일">
    </div>
    <div class="textForm">
        <input name="zipcode" type="text" class="nickname" placeholder="우편번호를 입력하세요">
    </div>
    <div class="textForm">
        <input name="address" type="text" class="address" placeholder="집주소를 입력하세요">
    </div>
    <div class="textForm">
        <input name="addressDetail" type="text" class="address" placeholder="동+ 아파트번호를 입력하세요">
    </div>


    <div class="textForm">
        <input name="phone" type="number" class="cellphoneNo" placeholder="핸드폰번호입력">
    </div>
    <input type="submit"  class="btn_loginForm" value="회원가입"/>
    <input type="button" class="btn_loginForm" value="뒤로가기" onclick="history.back()"/>
</form>


</body>
</html>