<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="kr">
<head th:replace="~{fragments/head :: head}"/>
    <meta charset="UTF-8">
    <title>Title</title>
<body>
<div th:replace="~{fragments/header :: header}"></div>
<div class="login-header">
    <h2 th:text=" ${m.nickname} + ' -  회원페이지 '"></h2>
</div>
<div id="myPage_container">
    <table id="myPage_table">
        <tr>
            <th>나의 게시글수</th>
            <th>나의 댓글수</th>
            <th>나의 접속일</th>
            <th>가입일</th>
            <th>포인트</th>
            <th>좋아요 수</th>
            <th>싫어요 수</th>
           <!-- <th>지식인 채택</th>  미구현-->
        </tr>
        <tr>
            <td><a th:href="@{/boards/myBoardList/{memberId}(memberId=${m.memberId})}" th:text="${boardCount}+ ' 개'" >게시글 수</a></td>
            <td> <a th:href="@{/reply/myReplyList/{memberId}(memberId=${m.memberId})}" th:text="${replyCount} + ' 개'">댓글 수</a></td>
            <td th:text="${#temporals.format(m.lastLoginDate, 'yyyy-MM-dd HH:mm:ss')}">접속일</td>
            <td th:text="${#temporals.format(m.regDate, 'yyyy-MM-dd HH:mm:ss')}">가입일</td>
            <td th:text="${m.getPoint()} + ' Point'">포인트</td>
            <td>좋아요 수</td>
            <td>싫어요 수</td>
            <!-- <th>지식인 채택</th>  미구현-->
        </tr>
    </table>

</div>
</body>
</html>