<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head}">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>
<div id="eventRaffle-container">
    <div class="login-header">
        <h2>현재 진행중인 이벤트</h2>
    </div>
    <div class="overflow-x-auto">
        <table class="table text-center">
            <thead>
            <tr>
                <th>번호</th>
                <th>이벤트</th>
                <th>응모자</th>
                <th>응모포인트</th>
                <th>당첨인원</th>
                <th>시작일</th>
                <th>종료일</th>
                <!--밑에는 포인트이벤트인지 다른이벤트인지-->
                <th>포인트이벤트</th>
                <th>당첨포인트</th>
                <th>추첨하기</th>
            </tr>
            </thead>
            <tbody>
            <tr class="bg-base-200" th:each=" event, Stat : ${eventList}">
                <input type="hidden" class="eventId_value" th:attr="data-value=${event.eventId}">
                <th th:text="${Stat.index + 1}">번호</th>
                <td th:text="${#strings.length(event.eventTitle) > 10 ? #strings.substring(event.eventTitle, 0, 13) + '...' : event.eventTitle}">이벤트내용</td>
                <td th:text="${eventApplicantCount[Stat.index] + '명'}">응모자수</td>
                <td th:text="${event.point + ' 포인트'}">응모포인트</td>
                <td><input type="number"  class="eventNum_input input input-bordered input-xs w-16 max-w-xs" placeholder="당첨인원"> 명</td>
                <td th:text="${#temporals.format(event.startDate, 'yyyy-MM-dd HH:mm:ss')}">시작일</td>
                <td th:text="${#temporals.format(event.endDate, 'yyyy-MM-dd HH:mm:ss')}">종료일</td>
                <td>
                    <span th:if="${event.isEventPoint()==true}">YES</span>
                    <span th:if="${event.isEventPoint()==false}">NO</span>
                </td>
                <td>
                    <span th:if="${event.isEventPoint()==true}"><span th:text="${event.pointReward}"></span></span>
                    <span th:if="${event.isEventPoint()==false}"></span>
                </td>
                <td><button class="eventRaffle_start btn btn-success">추첨시작</button></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div id="pagingBoard" class="pagingQueryDiv flex justify-center">

    </div>
</div>
<script src="/static/js/admin/adminRaffle.js"></script>
</body>
</html>