<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head th:replace="~{fragments/head :: head}"/>
<meta charset="UTF-8">
<body>
<div th:replace="~{fragments/header :: header}"></div>

<div id="content_container">
            <table id="content_board">
                <thead>
                <tr >
                    <th id="boardContent_title">제목</th>
                    <th id="boardContent_titleText" th:text="${board.title}"></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td id="content_regDate">작성일 :
                    </td>
                    <td th:text="${#temporals.format(board.getRegDate(),'yyyy-MM-dd HH:mm:ss')}">
                        yyyy-MM-dd HH:mm:ss
                    </td>
                </tr>
                <tr>
                    <td id="content_writer">글쓴이 :
                    </td>
                    <td th:text="${board.writer}">
                        작성자
                    </td>
                    <td class="content_viewCnt">
                        <span>조회수 :</span>
                        <span th:text="${board.viewCnt}" >123</span>
                    </td>
                </tr>
                <tr>

                    <td colspan="2" id="content">
                        <hr id="contentLine"/>
                        <p th:text="${board.content}">글 내용 </p>

                    </td>
                </tr>
                </tbody>
            </table>
            <table id="commentTable" class="table table-condensed"></table>
            <table class="table table-condensed">
                <tr>
                    <td>
                    <div class="likesAndDislikes">
                        <div class="like">
                            <img src="/static/img/like.jpg" alt="like">
                        <div class="likeCount" th:text="${board.likes}">
                            1
                        </div>
                        </div>
                        <div class="disLikes">
                            <img src="/static/img/disLike.jpg" alt="disLikes">
                            <div class="disCount" th:text="${board.dislikes}">
                                1
                            </div>
                        </div>
                    </div>

                                <span class="form-inline" role="form">
                                    <p>
                                        <hr class="contentLine">
                                    <!-- 댓글 등록 RestCnotroller-->
                                    <form action="/boards/" method="post" >
                                    <div class="form-group">

                                            <label for="commentParentText"></label><textarea id="commentParentText" name="content" rows="6"></textarea>
                                            <button type="button" class="btn-register"  onclick="formCheckReply()" style='float:right'>댓글등록</button>
                                        </div>
                                    </p>
                                </form>
                                </span>
                    </td>
                </tr>
            </table>
            <table class="table table-condensed">
                <thead>
                <tr>
                    <td>
                                    <span style='float:right'>
                                        <button type="button" id="content_list" class="btn btn-default">목록</button>
                                        <button type="button" id="content_modify" class="btn btn-default">수정</button>
                                        <button type="button" id="content_delete" class="btn btn-default">삭제</button>
                                       <!-- <button type="button" id="write" class="btn btn-default">글쓰기</button>-->
                                    </span>
                    </td>
                </tr>
                </thead>
            </table>
        </div>

    <hr/>
</body>
</html>
<script th:inline="javascript">
    var updateMessage = [[${suc}]];
    if (updateMessage) {
        alert(updateMessage);
    }
    /*]]>*/
</script>