<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head th:replace="~{fragments/head :: head}"/>
<meta charset="UTF-8">
<body>
<div th:replace="~{fragments/header :: header}"></div>
<div id="content_container">
    <input id="boardId_content" type="hidden" th:attr="data-value=${board.boardId}">
    <table id="content_board">
        <thead>
        <tr id="boardContent_header">
            <th id="boardContent_title">제목 </th>
            <th id="boardContent_titleText" th:colspan="4" th:text="${board.title}"></th>
        </tr>
        </thead>
        <tbody>
        <tr id="content_tr">
            <td class="content_td">
                <span>글쓴이 :</span>
                <span th:text="${board.memberInfo.nickname}">작성자</span>
            </td>
            <td class="content_td">
                <span>작성일 :</span>
                <span th:text="${#temporals.format(board.getRegDate(),'yyyy-MM-dd HH:mm:ss')}">yyyy-MM-dd HH:mm:ss</span>
            </td>
            <td class="content_viewCnt">
                <span>조회수 : </span>
                <span th:text="${board.viewCnt}">123</span>
            </td>
        </tr>
        <tr>
            <td colspan="6" id="content">
                <p th:utext="${board.content}">글 내용</p>
            </td>
        </tr>
        </tbody>
    </table>
    <div id="likesAndDislikes">
        <div class="like">
            <img src="/static/img/like.jpg" alt="like" class="like-img" onclick="likes()">
            <div id="like-count" class="likeCount" th:text="${board.likes}">1</div>
        </div>
        <div class="disLikes">
            <img src="/static/img/disLike.jpg" alt="disLikes" class="dislike-img" onclick="disLikes()">
            <div id="dislike-count" class="disCount" th:text="${board.dislikes}">1</div>
        </div>
    </div>
    <div id="content_tabs">
        <button type="button"> ㅣ 새로고침 ㅣ</button>
        <button id="close_review" type="button" onclick="closeReview()"> ㅣ 댓글닫기 ㅣ</button>
        <button type="button"> ㅣ 본문보기 ㅣ</button>
    </div>
    <div id="review-tabLine" class="form-group">
    <span  class="form-inline" role="form">
                <span>전체 댓글</span>
                <span id="count_review" th:text="'(' + ${replies.getTotalCount()} + ')'">(1)</span>
                <span class="bottom-right">
                    <button type="button" id="content_list" class="btn btn-default">목록</button>
                    <button th:if="${board.memberInfo.nickname == sessin.nickname}" type="button" id="content_modify" class="btn btn-default">수정</button>
                    <button th:if="${board.memberInfo.nickname == session.nickname}" type="button" id="content_delete" class="btn btn-default">삭제</button>
                    <!-- <button type="button" id="write" class="btn btn-default">글쓰기</button>-->
                </span>
        </span>
    </div>
    <div id="boardCommentWrite">
        <textarea id="contentInput" rows="4" placeholder="타인의 권리를 침해하거나 명예를 훼손하는 댓글은 운영원칙 및 관련 법률에 제재를 받을 수 있습니다."></textarea>
        <button type="button" class="review btn-register" onclick="reviewContentJoin()" style="float:right">댓글등록</button>
    </div>
    <div id="boardCommentContainer">
        <div id="boardCommentList">
            <div class="comment card w-full bg-base-100 shadow-xl relative" th:each="reply : ${replies.getReplyList()}">
                <div class="comment card-body block m-0">
                        <span class="comment-span text-sm" th:text="'작성자 : ' + ${reply[replyStat.index].memberInfo.nickname} + '       작성일 : ' +  ${#temporals.format(reply.regDate, 'yyyy-MM-dd HH:mm:ss')}">
                    <!-- 여기에 작성자와 작성일 텍스트가 들어갑니다 -->
                </span>
                    <p th:if="${reply.getDeleteDate() == null}" class="comment-value text-lg" th:text="${reply.content}">
                        <!-- 여기에 댓글 내용이 들어갑니다 -->
                    </p>
                    <p th:unless="${reply.getDeleteDate() == null}" class="comment text-lg text-red-800">
                        <!--여기는 삭제된 댓글입니다.-->
                    삭제된 댓글입니다.
                    </p>
                </div>

                <div class="absolute top-0 right-0" th:if="${reply.memberInfo.nickname == session.nickname}">
                    <button class="comment-delBtn btn btn-square btn-outline" th:attr="reply-value=${reply.getReplyId()}">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                        </svg>
                    </button>
                    <button class="comment-updateBtn absolute top-0 right-20 btn btn-square btn-outline" th:attr="reply-value=${reply.getReplyId()}">
                        수정
                    </button>
                    <button class="absolute top-0 right-20 w-24 btn btn-square btn-outline" style="display: none;">
                        수정하기
                    </button>
            </div>
        </div>
        </div>
        <div id="pagingComment" class="pagingQueryDiv flex justify-center">
            <!-- 페이징 처리용 UI가 들어갑니다 -->
        </div>
    </div>
</div>
<script src="/static/js/board/content.js"></script>
<script src="/static/js/review/review.js"></script>

</body>
</html>
