<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="kr">

<head th:replace="~{fragments/head :: head}"/>
<meta charset="UTF-8">
<body>
<div th:replace="~{fragments/header :: header}"></div>
<div id="boardJoin_container">
    <form id="postForm" method="post" enctype="multipart/form-data">
    <table id="board_join">
        <tr>
            <td>
                    <input class="input_type" type="hidden" name="memberId" th:value="${memberId}">
                    <tr id="title_tr">
                        <td class="boardJoin_td">게시글 제목 : &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                            <input id="title_join" class="input" type="text" name="title">
                        </td>
                    </tr>
                    <tr>
                        <td class="boardJoin_td">
                            <label>작성자 : &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                                <input id="input_writer" th:value="${nickname}" type="text" name="writer" disabled>
                            </label>
                        </td>

                    </tr>

                    <tr class="boardJoin_hr">

                        <td class="boardJoin_td">
                            게시판 카테고리 :
                            <input type="radio" name="categoryId" value="1">자유
                            <input type="radio" name="categoryId" value="2">정보
                            <input type="radio" name="categoryId" value="3">추천
                            <input type="radio" name="categoryId" value="4">후기
                            <input type="radio" name="categoryId" value="5">기타
                            <input type="radio" name="categoryId" value="6">질문
                        </td>
                    </tr>
        <tr id="question_point" class="boardJoin_hr">
            <td class="boardJoin_td">
                질문포인트 : <input type="number" name="questionPoint" id="questionPoint">
            </td>
        </tr>

                    <tr>
                        <td class="boardJoin_td">
                            <span>
        <span class="highlight">음란물</span>,
        <span class="highlight">차별, 비하, 혐오</span> 및
                                <span class="highlight">초상권, 저작권 침해 게시물</span>은
        민, 형사상의 책임을 질 수 있습니다.
          </span>
                            <hr class="boardJoin_hr">
                            <label id="1">
                                <textarea id="tinymceTextarea" name="content"></textarea>
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <td class="boardJoin_submit">
                            <input type="submit" class="btn btn-outline btn-success gap-2" value="게시글 등록">
                            <input type="button" class="btn btn-outline btn-success"  value="메인으로" th:attr="onclick=|location.href='@{/boards/list}'|">
                        </td>
                    </tr>
    </table>
    </form>
</div>
<input type="hidden" id="myPointCheck" th:attr="myPoint=${myPoint}">
<script src="/static/js/board/join.js"></script>
</body>
</html>