<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/fragments/head ::head }">
    <meta charset="UTF-8">
    <title>나의 게시글 목록</title>

</head>
<body>
<div th:replace="~{fragments/header :: header}" />
<div id="board-container">
    <h2>나의 게시글 목록</h2>
    <div id="board_header">
        <div id="board_category">

            <a href="/category/0"> 전체</a>
            <a href="/category/1">자유</a>
            <a href="/category/2">정보</a>
            <a href="/category/3">추천</a>
            <a href="/category/3">후기</a>
            <a href="/category/3">기타</a>


        </div>
        <div id="board_join">
            <a href="/boards/join">글작성</a>
        </div>
    </div>
    <table class="board_list">
        <colgroup>
            <col width="10%"/>
            <col width="50%"/>
            <col width="10%"/>
            <col width="10%"/>
            <col width="10%"/>
            <col width="10%"/>
        </colgroup>
        <thead>
        <tr>
            <th scope="col">글번호</th>
            <th scope="col">제목</th>
            <th scope="col">작성자</th>
            <th scope="col">조회수</th>
            <th scope="col">추천수</th>
            <th scope="col">작성일</th>

        </tr>
        </thead>
        <tbody>
        <tr th:if="${list}" th:each="list : ${myBoards}">
            <td th:text="${list.boardId}">글번호</td>
            <td th:text="${list.title}" th:onclick="|location.href='/boards/content/' + ${list.boardId}|">제목</td>
            <td th:text="${list.writer}">작성자</td>
            <td th:text="${list.viewCnt}">조회수</td>
            <th th:if="${list.likes > list.dislikes}"
                th:text="${(list.likes != null ? list.likes : 0) - (list.dislikes != null ? list.dislikes : 0)}">좋아요</th>
            <th th:unless="${list.likes > list.dislikes}"
                th:text="-${(list.dislikes != null ? list.dislikes : 0) - (list.likes != null ? list.likes : 0)}">싫어요</th>
            <td th:text="${#temporals.format(list.getRegDate(),'yyyy-MM-dd HH:mm:ss')}">
                yyyy-MM-dd HH:mm:ss
            </td>
        </tr>
        <tr th:unless="${list} " th:each="list : ${myBoards}">
            <td colspan="6">작성한 내 게시글이 존재하지 않습니다.</td>
        </tr>
        </tbody>
    </table>
    <div class="search">
        <form action="boards/search">
            <label>
                <select>
                    <option name="choice" value="0">전체</option>
                    <option name="choice" value="1">작성자</option>
                    <option name="choice" value="2">제목</option>
                </select>
            </label>
            <label for="board_search"></label><input id="board_search" type="text" name="search">
        </form>

    </div>
</div>
<script th:inline="javascript">
    var updateMessage = /*[[${updateMessage}]]*/ '';
    if (updateMessage) {
        alert(updateMessage);
    }
</script>
</body>
</html>
