<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/fragments/head ::head }">
    <meta charset="UTF-8">
    <title>게시글 목록</title>

</head>
<body>
<div th:replace="~{fragments/header :: header}" />
<div id="board-container">
    <div id="board_header">
        <div id="board_category">

            <a href="/question/list/0">ㅣ 전체 ㅣ</a>
            <a href="/question/list/1">ㅣ 미채택 ㅣ</a>
            <a href="/question/list/2">ㅣ 채택 ㅣ</a>
        </div>
        <div id="list_join">
            <button id="list_joinForm" class="btn btn-outline btn-accent" onclick="location.href='/boards/join'">글작성</button>
        </div>
    </div>
    <table class="board_list">
        <colgroup>
            <col width="50%"/>
            <col width="10%"/>
            <col width="10%"/>
            <col width="10%"/>
            <col width="10%"/>
        </colgroup>
        <thead>
        <tr>
            <th scope="col">제목</th>
            <th scope="col">작성자</th>
            <th scope="col">조회수</th>
            <th scope="col">내공</th>
            <th scope="col">채택현황</th>
            <th scope="col">작성일</th>

        </tr>
        </thead>
        <tbody>
        <tr th:if="${list}" th:each="vo : ${list}">
            <td th:text="${vo.getBoardInfo().title}" th:onclick="|location.href='/question/content/' + ${vo.questionId}|">제목</td>
            <td th:text="${vo.memberInfo.nickname}">작성자</td>
            <td th:text="${vo.getBoardInfo().viewCnt}">조회수</td>
            <td th:text="${vo.questionPoint}">질문포인트</td>
            <td th:if="${vo.adoptionDate == null}">미채택</td>
            <td th:unless="${vo.adoptionDate == null}">채택</td>
            <td th:text="${#temporals.format(vo.getRegDate(),'yyyy-MM-dd HH:mm:ss')}">
                작성일
            </td>
        </tr>
        <tr th:unless="${list} " th:each="vo : ${list}">
            <td colspan="6">조회된 결과가 없습니다.</td>
        </tr>
        </tbody>
    </table>
    <div id="search-bar" class="search">
        <form action="/question/search" method="post">
            <label>
                <select id="list_select" name="choice">
                    <option value="0">전체</option>
                    <option value="1">제목</option>
                    <option value="2">내용</option>
                    <option value="3">작성자</option>
                </select>
            </label>
            <label for="board_search"></label><input id="board_search" type="text" name="search">
            <button type="button" class="btn btn-outline btn-success w-16 text-xs h-6" onclick="onSearch()">검색</button>
        </form>

    </div>
</div>
<script th:inline="javascript">
    var updateMessage = /*[[${updateMessage}]]*/ '';
    if (updateMessage) {
        alert(updateMessage);
    }
</script>
</body>
</html>