<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.JYProject.project.repository.mybatis.BoardRepository">
    <!--보드 추가 -->
    <insert id="insertBoard" parameterType="com.JYProject.project.model.dto.BoardDTO">
        insert into board (writer,title,content)
        values(#{writer},#{title},#{content});
    </insert>
    <!--보드 1개의값 가져오기 -->
    <select id="selectBoardDetail" parameterType="Long" resultType="com.JYProject.project.model.dto.BoardDTO">
        select * from board where board_id=#{id};
    </select>
    <!--보드 수정 -->
    <update id="updateBoard" parameterType="com.JYProject.project.model.dto.BoardDTO">
        update board
        set title=#{title},
            content=#{content},
            update_date = NOW()
        WHERE board_id = #{id}
    </update>
    <!--보드 삭제시킬떄 값 넣어주기 -->
    <update id="deleteBoard" parameterType="Long">
    update board
    set board.delete_date = now()
    where board_id = #{id}
    </update>

    <select id="boardAllList" resultType="com.JYProject.project.model.dto.BoardDTO">
        select  * from board
    </select>

    <select id="selectBoardTotalCount" resultType="Integer">
        select count(*) board;
    </select>
    <select id="getLikesTotalCount" parameterType="Long" resultType="Integer">
       select count(*),likes from board where board_id=#{id}
    </select>

    <select id="getDisLikesTotalCount" parameterType="Long" resultType="Integer">
        select count(*), dislikes from board where board_id=#{id}
     </select>
    <!-- 검색 할경우 리스트를 가져온다 -->
    <select id="boardSearchTitleList" parameterType="String" resultType="com.JYProject.project.model.dto.BoardDTO">
        SELECT * FROM board
        WHERE title LIKE CONCAT('%', #{title}, '%')
    </select>
    <select id="boardSearchContentList" parameterType="String" resultType="com.JYProject.project.model.dto.BoardDTO">
    select * from board
    where content LIKE  CONCAT('%', #{content},'%')
    </select>
</mapper>