<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.JYProject.project.repository.mybatis.MemberMapperRepository">
    <resultMap id="memberResultMap" type="com.JYProject.project.model.Member">
        <id column="member_id" property="memberId" />
        <result column="login_id" property="loginId" />
        <result column="pw" property="pw" />
        <result column="name" property="name" />
        <result column="nickname" property="nickname" />
          <result column="phone" property="phone" />
        <result column="email" property="email" />
        <result column="zip_code" property="zipCode" />
        <result column="address" property="address" />
        <result column="address_detail" property="addressDetail" />
        <result column="reg_date" property="regDate" />
        <result column="last_login_date" property="lastLoginDate" />
        <result column="active" property="active" />
        <result column="grade" property="grade" />
        <result column="point" property="point" />
        <result column="profile" property="profileImg" />
    </resultMap>

    <insert id="insertMember" parameterType="com.JYProject.project.model.Member">
        insert into member (login_id,pw,name,nickname,phone,email,zip_code,address,address_detail)
        values (#{loginId},#{pw},#{name},#{nickname},#{phone},#{email},#{zipCode},#{address},#{addressDetail})
    </insert>

    <select id="selectMemberDetail" parameterType="String" resultMap="memberResultMap">
        select * from member where login_id=#{loginId}
    </select>
    <update id="addLoginPoint" parameterType="com.JYProject.project.model.Member">
        update  member
        SET point = point + #{point}
        where member_id= #{id};
    </update>
    <update id="addPointLikes" parameterType="com.JYProject.project.model.Member">
        update  member
        SET point = point + 1
        where member_id= #{id};
    </update>
    <update id="addPointDisLikes" parameterType="com.JYProject.project.model.Member">
        update  member
        SET point = point - 1
        where member_id= #{id};
    </update>
    <update id="updateLastLogin" parameterType="com.JYProject.project.model.Member">
        update member
        set last_login_date = #{lastLoginDate}
        where member_id=#{id};
    </update>
    <!-- 일단은 비밀번호랑 닉네임만 변경가능하게 해서 이렇게 해놓았다 . sql 공부를 좀 더 해보고 변경해봐야겟다-->
    <update id="updateMember" parameterType="com.JYProject.project.model.Member">
        UPDATE member
        <set>
            <choose>
                <when test="pw != null and pw != ''">
                    pw = #{pw}
                </when>
                <when test="nickname != null and nickname != ''">
                    nickname = #{nickname}
                </when>
            </choose>
        </set>
        where member_id = #{memberId}
    </update>

    <delete id="deleteMember" parameterType="Long" >
        delete from member where member_id=#{Id}
    </delete>

    <select id="MemberAllList" resultType="com.JYProject.project.model.Member">
        select *
        from member
    </select>
    <select id="selectMemberTotalCount" resultType="Integer">
        select count(*) from member;
    </select>
    <select id="validCheckId" resultType="boolean" parameterType="String">
        SELECT COUNT(*) > 0 FROM member WHERE login_id=#{loginId};
    </select>
    <select id="validCheckNick" resultType="boolean" parameterType="String">
        SELECT COUNT(*) > 0 FROM member WHERE nickname=#{nickname};
    </select>
    <select id="validCheckEmail" resultType="boolean" parameterType="String">
        SELECT COUNT(*) > 0 FROM member WHERE email=#{email};
    </select>
    <select id="login"  parameterType="com.JYProject.project.model.Member" resultMap="memberResultMap">
        select * from member where login_id=#{loginId} and pw=#{pw};
    </select>

    <select id="getOneMemberId"  parameterType="Long" resultMap="memberResultMap">
        select * from member where member_id=#{id};
    </select>

    <select id="checkIdAndPw"  resultType="boolean" parameterType="com.JYProject.project.model.Member">
        SELECT COUNT(*) > 0 FROM member WHERE login_id=#{loginId} AND pw=#{pw}
    </select>

    <update id="updateProfileImg" parameterType="com.JYProject.project.model.Member">
            update member
            set profile =#{profileImg}
                where login_id =#{loginId};
    </update>
</mapper>