<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head}">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>
<div id="content_container">

<table id="content_board">
    <thead>
    <tr id="boardContent_header">
        <th id="boardContent_titleText" th:colspan="4" th:text="${notice.title}"></th>
    </tr>
    </thead>
    <tbody>
    <tr id="content_tr">
        <td class="content_td">
            <span>글쓴이 : 관리자</span>
        </td>
        <td class="content_viewCnt">

            <span th:text="${#temporals.format(notice.regDate,'yyyy-MM-dd HH:mm:ss')}">yyyy-MM-dd HH:mm:ss</span>
            <span th:text="'응모포인트 : '+${event.point}">응모포인트</span>
            <span th:text="'조회수 : '+${notice.viewCnt}">123</span>
        </td>
    </tr>
    <tr>
        <td colspan="25" id="content">
            <p th:utext="${notice.content}">글 내용</p>
        </td>
    </tr>
    </tbody>
</table>
<div th:if="${event}" id="apply_container">
    <input id="event_point"  class="d-none" type="hidden" th:attr="event-value=${event.point}">
    <input id="myPoint"  class="d-none"  type="hidden" th:attr="data-myPoint=${myPoint}">
    <input id="event_id" class="d-none" type="hidden" th:attr="data-value=${event.eventId}">
    <input id="data_id" class="d-none" type="hidden" th:attr="data-id=${session.loginId}">
    <button th:if="${applied != 'applied'}" id="apply-btn" class="btn btn-outline btn-success">응모</button>
    <button th:if="${applied == 'applied'}" class="btn" disabled="disabled">응모완료</button>
</div>
<div id="content_tabs">
    <button type="button" id="refresh-btn"> ㅣ 새로고침 ㅣ</button>
    <button type="button"> ㅣ 본문보기 ㅣ</button>
</div>
</div>
<script src="/static/js/notice/content.js"></script>
</body>
</html>