<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head}">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>
<div id="board-container">
    <div id="board_header">
        <div id="board_category">
            <a href="/notice/noticeBoard/0">공지사항</a>
            <a href="/notice/noticeBoard/1">이벤트</a>
        </div>
    </div>
    <table class="board_list">
        <colgroup>
            <col width="10%"/>
            <col width="50%"/>
            <col width="10%"/>
            <col width="10%"/>
            <col width="10%"/>
            <col width="10%"/>
        </colgroup>
        <thead>
        <tr>
            <th scope="col">글번호</th>
            <th scope="col">제목</th>
            <th scope="col">작성자</th>
            <th scope="col">조회수</th>
            <th scope="col">작성일</th>

        </tr>
        </thead>
        <tbody>
        <tr th:if="${list}" th:each="list : ${noticeList}">
            <td th:text="${list.adminBoardId}">글번호</td>
            <td th:text="${list.title}" th:onclick="|location.href='/notice/content/' + ${list.adminBoardId}|">제목</td>
            <td>관리자</td>
            <td th:text="${list.viewCnt}">조회수</td>
            <td th:text="${#temporals.format(list.getRegDate(),'yyyy-MM-dd HH:mm:ss')}">
                작성일
            </td>
        </tr>
        <tr th:unless="${list} " th:each="list : ${noticeList}">
            <td colspan="6">조회된 결과가 없습니다.</td>
        </tr>
        </tbody>
    </table>
    <div id="search-bar" class="search">
        <form action="/notice/search" method="get">
            <label>
                <select id="list_select" name="choice">
                    <option value="0">전체</option>
                    <option value="1">제목</option>
                </select>
            </label>
            <label for="board_search"></label><input id="board_search" type="text" name="search">
            <button type="button" class="btn btn-outline btn-success w-16 text-xs h-6" onclick="onSearch()">검색</button>
        </form>

    </div>
</div>
</body>
</html>