*{
    margin: 0 auto;
    padding: 0;
}
body {
    font-family: Arial, sans-serif;
    height: 100vh;
    margin: 0;
}
#header{
    width: 1280px;
    height: 100px;
    margin: 0 auto;
    display : flex;
    position: relative;
}
.nav{
    width: 27%;
    height: 100%;
    position: relative;
}
.nav > ul {
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
}
.search-input{
    width: 300px;
}
#myModal {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    justify-content: center;
    width: 400px;
    height: 400px;
    background-color: rgba(0, 0, 0, 0.4);
}
#modal_content{
    background-color: white;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #888;
    width: 400px;
    height: 400px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    animation-duration: 0.4s;
    z-index: 9999;
    text-align: center;
    align-items: center;
}
#modalBtn-close{
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
    font-weight: bold;

}
.modalBtn-hr{
 margin-bottom: 10px;
 height: 2px;
}
#modalBtn-close:hover,
#modalBtn-close:focus {
    color: red;
    text-decoration: none;
    cursor: pointer;
}