
#main-container{

    width: 1280px;
    margin: 0 auto;
    height: 600px;
}
#weekend-best{
    height: 200px;
    border: 1px crimson;
    width: 100%;
}
#weekend-header {
    display: flex;
    justify-content: space-between;
    align-items: center; /* 수직 정렬 */
    gap: 20px; /* 요소 간의 간격 */
}

#tabList-weekend,
#main-pagingButton,
#tabList-category {
    display: flex;
    align-items: center; /* 수직 정렬 */
}

.tabs {
    display: flex;
    gap: 10px; /* 버튼 간의 간격 */
}

.join {
    display: flex;
    gap: 5px; /* 버튼 간의 간격 */
}
#tabList-weekend {
    float: left;
    margin: 0;
    padding: 0;

}

#weekend-content{
    margin-top: 10px;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.card {
    width: 200px;
    margin-bottom: 10px;
}
#tabList-category{
    float: right;
    margin: 0;
    padding: 0;
}
.card {

    position: relative;
}

.card img {
    display: block;
}

.card .card-body {
    margin-top: 20px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    color: #fff;
}
.full {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.full img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#main-table{
    margin-top: 40px;
    height: 600px;
    display: flex;
}


