
#main-container{

    width: 1280px;
    margin: 0 auto;
    border:  1px solid black;
    height: 600px;
}
#weekend-best{
    height: 200px;
    border: 1px crimson;
    width: 100%;
}

#weekend-header {
    display: flex;
    justify-content: space-between;
}
#tabList-weekend{
    float: left;
    margin: 0;
    padding: 0;
}
#weekend-content{
    margin-top: 15px;
    display: flex;
}

#tabList-category{
    float: right;
    margin: 0;
    padding: 0;
}
.card {

    position: relative;
}

.card img {
    display: block;
}

.card .card-body {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    color: #fff;
}

#main-table{
    border: 1px solid red;
    height: 600px;
    display: flex;
}

