<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>애니모아 게시판에 오신걸 환영합니다</title>
</head>
<body th:fragment="header">
<header id="header">
 <div class="navbar bg-base-100">
     <div class="flex-none w-34">
    <a  href="/" class="btn btn-ghost text-xl mr-4px">애니모아</a>
        <ul class="menu menu-horizontal px-1">
            <li>
    <details>
        <summary>
            게시판 목록
        </summary>
        <ul class="p-2 z-[1] bg-base-100">
            <li><a href="/category/0">전체</a></li>
            <li><a href="/category/1">자유</a></li>
            <li><a href="/category/2">정보</a></li>
            <li><a href="/category/3">추천</a></li>
            <li><a href="/category/4">후기</a></li>

        </ul>
    </details>
            </li>
        </ul>
    </div>
     <form id="searchForm" method="post">
     <label class="input input-bordered flex items-center gap-2" id="search_bar">
         <input type="text" id="header_query" name="query" class="search-input" placeholder="제목을 입력해주세요" />
         <button type="submit" class="search-button" id="search_button">
             <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="w-4 h-4">
                 <path fill-rule="evenodd"
                       d="M9.965 11.026a5 5 0 1 1 1.06-1.06l2.755 2.754a.75.75 0 1 1-1.06 1.06l-2.755-2.754ZM10.5 7a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Z"
                       clip-rule="evenodd"/>
             </svg>
         </button>
     </label>
     </form>
    <div class="dropdown dropdown-end w-40" th:if="${loginId == null}">
     <div tabindex="0" role="button" class="btn btn-ghost btn-circle w-32">회원메뉴</div>
        <ul tabindex="0" class="mt-3 z-[1] p-2 shadow menu menu-sm dropdown-content bg-base-100 rounded-box w-52">
        <li>
            <a href="/members/login">로그인</a>
        </li>
            <li>
                <a href="/members/join">회원가입</a>
            </li>
        </ul>
    </div>
   <div class="dropdown dropdown-end w-40" th:if="${loginId != null && loginId != 'admin'}">
       <div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar">
           <div th:if="${session.profile}" class="w-10 rounded-full">
               <img alt="프로필이미지"   th:src="@{${session.profile}}"/>
           </div>
           <div  th:unless="${session.profile}" class="w-10 rounded-full">
               <img alt="프로필이미지" src="/static/img/Basicimage.png" />
           </div>
       </div>
       <ul tabindex="0" class="mt-3 z-[1] p-2 shadow menu menu-sm dropdown-content bg-base-100 rounded-box w-52">
           <li>
               <a id="profile_open" class="justify-between"> Profile
               <span class="badge">New</span>
               </a>

           </li>
           <li><a href="/members/update">설정하기</a></li>
           <li><a href="/members/myPage">나의 페이지</a></li>
           <li><a href="/members/active">계정 비활성화</a></li>
           <!--계정 비활성화-->
           <li><a href="/members/delete">회원탈퇴</a></li>
            <li><a href="/members/logout">로그아웃</a></li>

       </ul>
       <div id="user_nickname" th:text="${session.nickname}" >nickame</div>
   </div>
    <div class="dropdown dropdown-end" th:if="${loginId != null && loginId == 'admin'}">
        <div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar">
            <div th:if="${session.profile}" class="w-10 rounded-full">
                <img alt="프로필이미지"   th:src="@{${session.profile}}"/>
            </div>
            <div  th:unless="${session.profile}" class="w-10 rounded-full">
                <img alt="프로필이미지" src="/static/img/Basicimage.png" />
            </div>
        </div>
        <ul tabindex="0" class="mt-3 z-[1] p-2 shadow menu menu-sm dropdown-content bg-base-100 rounded-box w-52">
            <li>
                <a class="justify-between"> Profile
                    <span class="badge">New</span>
                </a>
            </li>
            <li><a href="/members/update">설정하기</a></li>
            <!--  admin영역 공지사항 및 이벤트 작성하기-->
            <li><a href="/admin/adminBoardJoin">(공지사항/이벤트)작성</a></li>
            <li><a href="/admin/raffle">진행중인 이벤트</a></li>
            <li><a>회원리스트</a></li>
            <li><a>필터리스트</a></li>
            <li><a href="/members/logout"   >로그아웃</a></li>
        </ul>
        <div id="admin_id" >관리자</div>
    </div>
</div>
    <div class="modal" id="myModal">
        <div id="modal_content">
            <div class="modal-header">
                <h5 class="modal-title">프로필 사진 변경</h5>
                <button type="button" id="modalBtn-close" class="btn-close photo-reset" data-bs-dismiss="modal" aria-label="Close">X</button>
                <hr class="modalBtn-hr">
                <div class="avatar">
                <div class="w-24 rounded-full">
                <img   th:if="${session.profile != null}"
                       th:src="@{${session.profile}}"
                       alt="img" id="checkImgOne" />
                <img th:unless="${session.profile != null}"
                     th:src="@{/static/img/Basicimage.png}"
                     alt="img"  id="checkImgTwo"/>
                </div>
                </div>
                    <button type="button" class="btn-close photo-reset" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <input type="hidden" th:value="${loginId}" id="loginId" />
            <hr class="modalBtn-hr">
            <div class="modal-body">
                <p>
                    <br>
                    <br>
                    <input type = "file" id = "profile_upload" accept = "image/gif, image/png, image/jpeg">
                </p>
            </div>
            <hr class="modalBtn-hr">
            <br>
            <br>
            <br>
            <div class="modal-footer justify-content-center" style = "align-items: center;">
                <button type="button" class="btn photo-reset" id ="photo_reset" data-bs-dismiss="modal">닫기</button>
                <button type="button" class="btn" id ="photo_submit">변경</button>
            </div>
        </div>
    </div>

    <script src="/static/js/fragments/headerModal.js"></script>
    <script src="/static/js/fragments/header.js"></script>
</header>

<div id="home_line">
    <a class="header_line" href="/notice/noticeBoard/0">공지사항</a>
    <a class="header_line" href="/notice/noticeBoard/1">이벤트</a>
    <a class="header_line" href="#">질문게시판</a>
</div>
</body>
</html>