<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head">
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.9.0/dist/full.min.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.jsdelivr.net/npm/tw-elements/js/tw-elements.umd.min.js"></script>
    <script src="https://cdn.tiny.cloud/1/g77d1at0bpy5p2pwugg66jppd10l79ykiov5mvc6eelw4y97/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <title>animation</title>
    <link rel="stylesheet" type="text/css" href="/css/pageCss/header.css">
    <link rel="stylesheet" href="/css/pageCss/board/boardList.css" type="text/css">
    <link rel="stylesheet" href="/css/pageCss/home.css" type="text/css">
    <link rel="stylesheet" href="/css/pageCss/board/content.css" type="text/css">
    <link rel="stylesheet" href="/css/pageCss/member/join.css" type="text/css">
    <link rel="stylesheet" href="/css/pageCss/member/loginForm.css" type="text/css">
</head>