<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<body>
<div class="container">
    <div>
        <h1>테스용 회원가입 및 업데이트 나중에 Home에서 다 옮길예정</h1>
        <p>로그인체크 </p>
<div th:if="${loginId != null}">
    <p>User ID: <span th:text="${loginId}"></span></p>
    <p>User Name: <span th:text="${nickname}"></span></p>
</div>
        </div>
        <p>회원 기능</p>
            <a href="/members/join">회원 가입 (기능구현) 미구현(중복체크)</a>
            <a href="/members/list">회원 목록 (기능구현)</a>
            <a href="/members/login">회원 로그인 (기능구현) </a>
            <a href="/members/update">회원 수정 (기능구현) 미구현(중복체크)</a>
            <a href="/members/active">회원 비활성하기 미구현</a>
            <a href="/members/list">(어드민)회원 목록</a>
            <a href="/members/delete">회월탈퇴 구현 완료</a>

        <p>보드 기능</p>
        <a href="boards/list">게시판 글모음</a>
        <a href="boards/join">게시글 생성하기</a>
    </div>
</div> <!-- /container -->


<script th:inline="javascript">
    var updateMessage = [[${update}]];
    if (updateMessage) {
        alert(updateMessage);
    }
    /*]]>*/
</script>
</body>
</html>