<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="kr">
<head th:replace="~{fragments/head :: head}"/>

<body>
<div th:replace="~{fragments/header :: header}"></div>
<div id="main-container">
    <div id="weekend_best">
        <div id="weekend-header">
            <div  id="tabList-category" role="tablist" class="tabs tabs-boxed">
                <button role="tab" class="btn_category tab tab-active" data-category-id="0">전체</button>
                <button role="tab" class="btn_category tab" data-category-id="1">자유</button>
                <button role="tab" class="btn_category tab" data-category-id="2">정보</button>
                <button role="tab" class="btn_category tab" data-category-id="3">후기</button>
                <button role="tab" class="btn_category tab" data-category-id="4">기타</button>
            </div>
            <div id="main-pagingButton" class="join mt-2">
                <button class="join-item btn btn-xs btn-active">1</button>
                <button class="join-item btn btn-xs">2</button>
                <button class="join-item btn btn-xs">3</button>
                <button class="join-item btn btn-xs">4</button>
                <button class="join-item btn btn-xs">5</button>
            </div>
            <div id="tabList-weekend" role="tablist" class="tabs tabs-boxed">
                <button role="tab" class="weekOrDay tab tab-active" data-tab="week">주간</button>
                <button role="tab" class="weekOrDay tab" data-tab="day">일간</button>
            </div>
        </div>
        <div id="weekend-content">
            <div th:each="board, boardStat : ${boards}" class="home card w-40 h-25 bg-base-100 shadow-xl">
                <a th:href="@{/boards/content/{boardId}(boardId=${board.boardId})}">
                    <figure class="homeFull">
                        <img th:if="${boardStat.index < files.size() and files[boardStat.index].getFirstFileName() != null }"
                             th:src="@{${files[boardStat.index].getFirstFileName()}}"
                             alt="img" />
                        <img th:unless="${boardStat.index < files.size() and files[boardStat.index].getFirstFileName() != null }"
                             th:src="@{/static/img/unnamed.jpg}"
                             alt="img" />
                    </figure>
                <div class="home card-body">
                    <p th:text="${board.getTitle()}">제목</p>
                </div>
                </a>
            </div>
        </div>
    </div>
<div id="main-table">
 <div id="free-area">
     <h3><a href="/category/1">최신 자유게시판</a></h3>
     <table class="table w-56">
         <thead>
         <tr>
             <th>제목</th>
         </tr>
         </thead>
         <tbody th:each=" free : ${freeList}" class="bg-base-200">
         <tr>
             <td>
                 <a th:href="'/boards/content/' + ${free.boardId}">
                <span th:text="${free.title}">제목</span>
                </a>
             </td>
         </tr>

         </tbody>
     </table>
 </div>
    <div id="info-area">
        <h3><a href="/category/2">최신 정보게시판</a></h3>
        <table class="table w-56">
            <thead>
            <tr>
                <th>제목</th>


            </tr>
            </thead>
            <tbody th:each=" info : ${infoList}" class="bg-base-200">
            <tr>
                <td>
                    <a th:href="'/boards/content/' + ${info.boardId}">
                        <span th:text="${info.title}">제목</span>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div id="recommend-area">
        <h3><a href="/category/3">최신 추천게시판</a></h3>
        <table class="table w-56">
            <thead>
            <tr>
                <th>제목</th>

            </tr>
            </thead>
            <tbody th:each="recommend : ${recommendList}" class="bg-base-200">

            <tr>
                <td>
                    <a th:href="'/boards/content/' + ${recommend.boardId}">
                        <span th:text="${recommend.title}">제목</span>
                    </a>
                </td>
            </tr>

            </tbody>
        </table>
    </div>
    <div id="review-area">
        <h3><a href="/category/4">최신 후기게시판</a></h3>
        <table class="table w-56">
            <thead>
            <tr>
                <th>제목</th>

            </tr>
            </thead>
            <tbody th:each="review :${reviewList}" class="bg-base-200">
            <tr>
                <td>
                    <a th:href="'/boards/content/' + ${review.boardId}">
                        <span th:text="${review.title}">제목</span>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</div>
<script src="/static/js/home.js"></script>


</body>
</html>