#main-container{
    width: 1280px;
    margin: 0 auto;
    height: 600px;
}
#weekend_best{
    height: 220px;
    border-bottom: 3px solid grey;
    width: 100%;
}
#weekend-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
#tabList-weekend,
#main-pagingButton,
#tabList-category {
    display: flex;
    align-items: center; /* 수직 정렬 */
}
#main-pagingButton{
    display: flex;

    margin-left: 200px;
}

.tabs {
    display: flex;
    gap: 10px; /* 버튼 간의 간격 */
}

.join {
    display: flex;
    gap: 5px; /* 버튼 간의 간격 */
}
#tabList-weekend {
    float: left;
    margin: 0;
    padding: 0;

}


#tabList-category{
    float: right;
    margin: 0;
    padding: 0;
}
#weekend-content {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
}


.home .card-body {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    color: #fff;
}

    .homeFull {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }

    .homeFull img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
#main-table{
    margin-top: 5px;
    border-bottom: 2px solid blue;
    height: 300px;
    display: flex;
    text-align: center;
}
#main-table > h3{
    font-weight: bold;
    font-size: 16px;
}
body #home_line {
    width: 100%;
    margin-bottom: 10px;
    border: 13px solid black;
    background-color: black;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: relative;
}

.header_line {
    background-color: black;
    color: white; /* 글씨 색상을 흰색으로 설정 */
    font-size: 12px;
    font-weight: bold;
    padding: 0 10px; /* 좌우 패딩 설정 */
    text-align: center;
}