
#board-container {
    text-align: center;
    width: 1280px;
}
#board_header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
#list_join{
    margin-right: 0;
}
#list_joinForm{
    width: 60px;
    height: 5px;
    padding: 2px;
}
.board_list {
    width: 100%;
    border-collapse: collapse;
    margin: 0 auto;
}
.board_list th, .board_list td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.board_list th {
    background-color: #f2f2f2;
}
.board_list tr:nth-child(even) {
    background-color: #f9f9f9;
}
.board_list th, .board_list td {
    text-align: center;
}
#board_search{
    border: lightgray solid 1px;
}
#board_category{
    text-align: left;
    width: 500px;
    display: inline-block;
    font-size: 14px;
    margin-left:0;
}
#search-bar{
    margin-top: 20px;
}
#list_select{
    border: black solid 1px;
}