#content_container {
    height: 80vh;
    margin: 0 auto;
    width: 1280px;

}

#content_board{
    border:  1px solid black;
    border-bottom: none;
    min-height: 600px;
    overflow: auto;
    width: 100%;
}
#content_tabs button {
    float: right;
    margin-left: 5px;
}
.contentLine{
    border: 2px solid grey;
    border-radius: 25% 25%;
}
#likesAndDislikes{
    margin-top: 0;
    display: flex;
    justify-content: center;
    text-align: center;
    height: 60px;
    width: 100%;
    border: 1px solid black;
    border-top: none;
}
.like, .disLikes {

    margin: 0 10px;
}
#contentInput{
    margin-bottom: 0;
    width: 100%;
    border: 1px solid pink;
}
.btn-register{
    border: none;
    display: inline-block;
    padding: 10px 10px;
    border-radius: 15px;
    font-family: "paybooc-Light", sans-serif;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    font-weight: 600;
    transition: 0.25s;
    margin-top: 0;
    float: right;
}
#content_tr{
    height: 60px;
}
.content_td{

    border: 1px solid black;
}
.content_viewCnt{
    border: 1px solid black;
}
.content_viewCnt span {
    display: inline-block;
}
#content_thead {
    width: 100%;

}
#boardContent_header{
    height: 60px;
}
#boardContent_title{
        flex: 1;
    border: 1px solid black;
}
#boardContent_titleText{
    flex: 5;
    border: 1px solid black
}

#content{
    display: block;
     margin-top: 10px;
    min-height: 600px;
    overflow: auto;
}
.like-img {
    width: 40px;
    height: 40px;
}

.dislike-img {
    width: 40px;
    height: 40px;
}
.bottom-right {
    float: right;
    margin-bottom: 10px;
}
#review-tabLine{
    margin-bottom: 20px;
}
/*  밑은 댓글 css 영역 */

#boardCommentWrite {
    margin-top: 20px;
}

#boardCommentWrite textarea {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical;
}

#boardCommentWrite button {
    padding: 8px 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}
#boardCommentContainer{
    margin-top: 50px;
}
#boardCommentWrite button:hover {
    background-color: #0056b3;
}

.pagingComment:hover{
    background-color: #2e9cdf;
    color: #ffffff;
}
.pagingComment{
    margin-left: 3px;
    padding: 0;
    width:  30px;
    height: 30px;
    line-height: 30px;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
}
.pagingComment :active{
    background-color: #2e9cdf;
    cursor: pointer;
}
