#content_container {
    height: 80vh;
    margin: 0 auto;
    width: 1280px;

}

#content_board{
    border:  1px solid black;
    border-bottom: none;
    min-height: 600px;
    overflow: auto;
    width: 100%;
}
#content_tabs button {
    float: right;
    margin-left: 5px;
}
.contentLine{
    border: 2px solid grey;
    border-radius: 25% 25%;
}
#likesAndDislikes{
    margin-top: 0;
    display: flex;
    justify-content: center;
    text-align: center;
    height: 60px;
    width: 100%;
    border: 1px solid black;
    border-top: none;
}
.like, .disLikes {

    margin: 0 10px;
}
#commentParentText{
    width: 100%;
    border: 1px solid pink;
}
.btn-register{
    border: none;
    display: inline-block;
    padding: 10px 10px;
    border-radius: 15px;
    font-family: "paybooc-Light", sans-serif;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    font-weight: 600;
    transition: 0.25s;


}
#content_tr{
    height: 60px;
}
.content_td{

    border: 1px solid black;
}
.content_viewCnt{
    border: 1px solid black;
}
.content_viewCnt span {
    display: inline-block;
}
#content_thead {
    width: 100%;

}
#boardContent_header{
    height: 60px;
}
#boardContent_title{
        flex: 1;
    border: 1px solid black;
}
#boardContent_titleText{
    flex: 5;
    border: 1px solid black
}

#content{
    display: block;
     margin-top: 10px;
    min-height: 600px;
    overflow: auto;
}
.like-img {
    width: 40px;
    height: 40px;
}

.dislike-img {
    width: 40px;
    height: 40px;
}