#boardJoin_container{
    width: 1280px;
    margin: 0 auto;

    height: 600px;
}
#question_point{
    display: none;
}
#questionPoint{
    border:  1px solid blue;
}
#title_join{
    height: 20px;
    border: 1px solid black;
    width: 600px;
    margin-bottom: 3px;

}
#join_buttons{
    margin-top: 20px;
}
#input_writer{
   height: 20px;
}
.highlight{
    color: red;
    font-weight: bold;
}
#board_join{
    width: 100%;
    text-align: center;
    border: 1px solid black;
}

#title_tr{
    padding-bottom: 20px;
    border: 1px solid black;
}
#boardJon_input {
    width: 300px;
    text-align: center;
}
.input_type.img {
    width: 10px;
    height: 10px;
    border-radius: 50%; /* 동그라미를 만들기 위한 속성 */
    border: none;
    background-color: #808080;
    cursor: pointer;
}
#title_td{
  border: 1px solid black;
  width: 400px;
  height: 25px;
}
.boardJoin_hr{
    border: 1px solid dimgrey;
    margin-bottom: 5px;
}
.boardJoin_td{
    text-align: center;
    align-items: center;
}
.boardJoin_submit{
    text-align: center;
    padding: 10px;
}
#boardJoin_title{
    margin-bottom: 5px;
}