#join_container{
    height: 80vh;
    margin: 0 auto;
    width: 1280px;
}
#join_title{
    display: flex;
    align-items: center;
    text-align:  center;
    font-size: 24px;
    justify-content: center;
    font-weight: bold;
    margin-bottom: 10px;
}
#join_form{
    width: 460px;
}
#join_table{
    border: 1px solid black;
}
.joinInput_form{
  border-bottom: 1px solid black;
}
.btn_loginForm {
    position:relative;
    left:30%;
    transform: translateX(-50%);
    margin-bottom: 40px;
    width:80%;
    height:40px;
    background: linear-gradient(125deg,#81ecec,#6c5ce7,#81ecec);
    background-position: left;
    background-size: 200%;
    color:white;
    font-weight: bold;
    border:none;
    cursor:pointer;
    transition: 0.4s;
    display:inline;
}

.btn_loginForm:hover {
    background-position: right;
}