#myPage_container{
    width: 1280px;
    height: 80vh;
    margin:  0 auto;
    display: flex;
    text-align: center;
    align-items: center;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;

}

#myPage_table {
    width: 80%;
    border-collapse: collapse;
    animation: fadeIn 1s ease-in-out;
}
#myPage_table th, #myPage_table td {
    border: 1px solid black;
    padding: 16px;
    text-align: center;
    font-size: 18px;
}
#myPage_table th {
    background-color: #4CAF50;
    color: white;
    animation: slideIn 0.5s ease-in-out;
}
#myPage_table td {
    background-color: #ffffff;
    color: #333333;
    transition: background-color 0.3s ease;
}
#myPage_table td:hover {
    background-color: #f2f2f2;
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes slideIn {
    from {
        transform: translateY(-20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}