.login-header {
    text-align: center;
    margin-bottom: 20px;
}
.login-header h2 {
    font-size: 24px;
    color: #666;
}
#updateForm_container {
    width: 1280px;
    height: 80vh;
    margin: 0 auto;
    display: flex;
}
.update_form{
    border-bottom: 1px solid black;
    background-color: lightgray;
}
#update_form {
    width: 800px;
}


.field-error{
    color: red;
}